<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <session-config>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/IDE</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>form.DownloadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadFile1</servlet-name>
        <servlet-class>form.DownloadFile1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadFile1</servlet-name>
        <url-pattern>/DownloadServlet1.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadFile2</servlet-name>
        <servlet-class>form.DownloadFile2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadFile2</servlet-name>
        <url-pattern>/DownloadServlet2.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadFile3</servlet-name>
        <servlet-class>form.DownloadFile3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadFile3</servlet-name>
        <url-pattern>/DownloadServlet3.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DownloadFile4</servlet-name>
        <servlet-class>Servlet.DownloadFile4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadFile4</servlet-name>
        <url-pattern>/Servlet/DownloadFile4</url-pattern>
    </servlet-mapping>   
    <servlet>
        <servlet-name>audio</servlet-name>
        <servlet-class>Servlet.audio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>audio</servlet-name>
        <url-pattern>/Servlet/audio</url-pattern>
    </servlet-mapping>
    
        <security-constraint>
        <web-resource-collection>
            <web-resource-name>
               SecuredBookSite
            </web-resource-name>
            <url-pattern>/administrator/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>
            Let only managers use this app
            </description>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
  	   <role-name>admin</role-name>
    </security-role>
    <login-config>
      <auth-method>FORM</auth-method>
      <form-login-config>
        <form-login-page>/administrator/admin_login.jsp</form-login-page>
        <form-error-page>/administrator/error.jsp</form-error-page>
      </form-login-config>
    </login-config>    
</web-app>
